/*style for profile*/
body{
  background:rgb(255, 255, 255);
}
*{
  transition:all;
  transition-duration:600ms;
}

nav {
  box-shadow:1px 1px 10px 0px rgb(226, 226, 226);
  min-height:90px;
  position:fixed !important;
  width:100%;
  z-index:99;
  background:white;
}
#notificationsOnNav{
  border-top:1px solid rgb(210, 210, 210);
  position:absolute;
  padding:0;
  width:100%;
}
#notificationsOnNav 
#hoverElement{
background:White;
box-shadow:1px 1px 10px 0px rgb(206, 205, 205); 
min-height:110px;
position:absolute;
width:250px;
margin-top:5px;
display:none;
animation-name:slide;
animation-duration:1s;
overflow:hidden;
}
@keyframes slide{
  0%{
  max-height:0;
  min-height:0;
  }
  100%{
    max-height:auto;
      min-height:auto;
    }

}

#notificationsOnNav #notifyCtn:hover > #hoverElement{
display:block !important;
}

#notificationsOnNav 
#hoverElement::before{
  content:"";
  width:20px;
  height:20px;
  position:absolute;
  background:rgb(255, 255, 255);
  transform:rotate(45deg);
 margin-top:-12px;
  z-index:-1;
box-shadow:1px 1px 10px 0px rgb(206, 205, 205); 

}

#hoverElement h3{
  color:var(--kadaColor);
}

#hoverElement #message{
bordeR:1px solid rgb(213, 212, 212);
}

#notificationsOnNav #notifyCtn{
  margin-left:3px;
}

#notificationsOnNav #notifyCtn button{
  font-size:x-large;
}

#notificationsOnNav #notifyCtn:hover > button{
  color:var(--kadaColor);
}
#notificationsOnNav #notifyCtn button span{
  position:absolute;
  width:20px;
  height:20px;
  border-radius:10px;
  background:var(--kadaYellowDark);
  background-color:red;
  color:white;
  font-size:small;
  font-weight:bolder;
  transform:translate(15px,-28px);transition-duration:2s !important;
  transition:all;
  overflow:hidden;
}

#notificationsOnNav #notifyCtn:hover > button span{
max-width:0;
max-height:0;
  }

#userImage{
  width:100px;
  height:100px;
  border-radius:50px;
  border-radius:3px solid var(--kadaYellow);
}
.profileOption{
  width:max-content;
  max-width:300px;
  margin:0 auto;
  
}

#performerce div {
width:100%;
height:10px;
padding:3px;
}


#performerce{
  display:flex;
  align-items: center;
}

#performerce #parentProgress{
  min-width:100px;
  width:100%;
  background:white;
  box-shadow:1px 1px 5px 0px rgb(225, 225, 225);
  border-radius:10px;
  border:1px solid var(--darkKadaColor);
  align-items: center;
  justify-content: start;
display:flex;
}

#performerce div #progress{
background:var(--darkKadaColor);
max-width:70%;
height:100%;
}


#dashboard{
  width:100%;
  background:rgb(242, 241, 241);

}

#dashboardContainer{
  width:97%;
  border-radius:10px;
  background:white;
  border-radius:5px;
  box-shadow:1px 1px 10px 0px rgb(216, 215, 219);
  min-height:200px;
  margin:0 auto;
}



#dashboardContainer #heading{
  color:var(--kadaYellow)
}

#ctxcontainer{
  width:200px;
  border:1px solid rgb(244, 244, 244);
  padding:10px;
}

#ctxcontainer img{
width:100%;
height:100px;
}

#attnCtn #day{
  width:20px;
  flex-flow:row wrap;
  justify-content:center;
  
}

#attnCtn #day #progressCtn{
  width:5px;
  height:60px;
  background: rgb(223, 222, 222);
  

}

#attnCtn #day button{
  background:var(--darkKadaColor);
  width:25px;
  height:25px;
  color:white;
  border-radius:17.5px;
}


#attnCtn #day #progress{
background:var(--kadaColor);
}

#mesageBody{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding:10px;
  bordeR:1px solid rgb(232, 232, 232);
}


