body{
  background-color:linear-gradient(30deg,var(--darkKadaColor),var(--kadaColor));
  background-size:100% 100%;
  background-image:url("../images/web/group.jpeg");

}
#form{
  width:90%;
  max-width:600px;
margin:0 auto;
background:rgba(255, 255, 255, 0.889);

}

#form{
  min-height:80vh;
}
img{
  width: 80%;height:70px;
  margin:0 auto;
}

#submit{
  background:linear-gradient(30deg,var(--darkKadaColor),var(--kadaColor));width:80%;
  font-weight:bolder;
}
#inputCtn:hover > label{
  font-weight:bolder;
  color:var(--kadaColor);
}
